<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.shopping.mapper.ShoppingcarMapper">
  <resultMap id="BaseResultMap" type="com.briup.shopping.bean.Shoppingcar">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="orderTime" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="orderCount" jdbcType="SMALLINT" property="ordercount" />
    <result column="salePrice" jdbcType="REAL" property="saleprice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, customer_id, orderTime, orderCount, salePrice
  </sql>
  <select id="selectByExample" parameterType="com.briup.shopping.bean.ShoppingcarExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from a_shoppingcar
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from a_shoppingcar
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from a_shoppingcar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.briup.shopping.bean.ShoppingcarExample">
    delete from a_shoppingcar
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.briup.shopping.bean.Shoppingcar">
    insert into a_shoppingcar (id, customer_id, orderTime, 
      orderCount, salePrice)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{ordercount,jdbcType=SMALLINT}, #{saleprice,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.shopping.bean.Shoppingcar">
    insert into a_shoppingcar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="ordertime != null">
        orderTime,
      </if>
      <if test="ordercount != null">
        orderCount,
      </if>
      <if test="saleprice != null">
        salePrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordercount != null">
        #{ordercount,jdbcType=SMALLINT},
      </if>
      <if test="saleprice != null">
        #{saleprice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.briup.shopping.bean.ShoppingcarExample" resultType="java.lang.Long">
    select count(*) from a_shoppingcar
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update a_shoppingcar
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.ordertime != null">
        orderTime = #{record.ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ordercount != null">
        orderCount = #{record.ordercount,jdbcType=SMALLINT},
      </if>
      <if test="record.saleprice != null">
        salePrice = #{record.saleprice,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update a_shoppingcar
    set id = #{record.id,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      orderTime = #{record.ordertime,jdbcType=TIMESTAMP},
      orderCount = #{record.ordercount,jdbcType=SMALLINT},
      salePrice = #{record.saleprice,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.shopping.bean.Shoppingcar">
    update a_shoppingcar
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null">
        orderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordercount != null">
        orderCount = #{ordercount,jdbcType=SMALLINT},
      </if>
      <if test="saleprice != null">
        salePrice = #{saleprice,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.shopping.bean.Shoppingcar">
    update a_shoppingcar
    set customer_id = #{customerId,jdbcType=INTEGER},
      orderTime = #{ordertime,jdbcType=TIMESTAMP},
      orderCount = #{ordercount,jdbcType=SMALLINT},
      salePrice = #{saleprice,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>