<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.shopping.mapper.ex.CustomerlMapper">
    <select id="findAll" resultType="com.briup.shopping.bean.Customer">
        select * from a_customer
    </select>
    <select id="search" resultType="com.briup.shopping.bean.Customer">
        select * from a_customer where (username like #{word} or address like #{word}) and phone like #{phone}
    </select>
    <select id="selectByWord" resultType="com.briup.shopping.bean.Customer">
         select * from a_customer where username like #{word} or address like #{word}
    </select>
    <select id="selectByPhone" resultType="com.briup.shopping.bean.Customer">
         select * from a_customer where phone like #{phone}
    </select>
    <insert id="saveOrupdate">
        insert into a_customer
    </insert>

</mapper>