<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.shopping.mapper.ex.ForPaymentEXMapper">

    <resultMap id="aaa" type="com.briup.shopping.bean.ex.ForPaymentEX">
        <id column="id" property="id"></id>
        <result column="goodsName" property="goodsName"></result>
        <result column="totalPrice" property="totalPrice"></result>
        <result column="userName" property="userName"></result>
        <result column="address" property="address"></result>
        <result column="phone" property="phone"></result>
        <result column="payment" property="payment"></result>
        <result column="date" property="date"></result>

    </resultMap>

    <select id="findForPayment" resultMap="aaa">
        select  o.id id,o.totalprice totalPrice,c.username userName,c.address address,c.phone phone,p.name payment,o.date date,g.name goodsName
        from a_order o,a_customer c,a_payment p,a_goods g
        where o.customer_id=c.id and o.payment_id=p.id and  g.id=(select goods_id from a_go where order_id = #{id}) and o.status_id=#{status}
    </select>

    <delete id="deleteOrder" parameterType="com.briup.shopping.bean.Order">
        delete from a_order where id=#{id}
    </delete>
    <delete id="deleteGO" parameterType="com.briup.shopping.bean.GO">
        delete from a_go where order_id=#{id}
    </delete>

    <update id="GoPayment" parameterType="com.briup.shopping.bean.Order">
        update a_order set status_id=2 where id=#{id}
    </update>
</mapper>